{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <!-- Leaflet CSS -->
    {#<script>L_PREFER_CANVAS = true;</script>#}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
            integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
            crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.js"></script>
    <link rel="stylesheet" href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.css"/>
    <script src="https://leaflet.github.io/Leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-realtime/2.1.1/leaflet-realtime.js"></script>
    <!-- Map style -->
    <style>
        #map {
            height: calc(100% - 140px);
            width: calc(100% - 60px);
            position: absolute !important;
            margin: 10px;
            z-index: 1;
        }

        #mobile-spacer {
            height: 75vh;
        }


    </style>
{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="ui centered header">{{ title }}</h1>

        {% if current_user.is_authenticated %}
            <div id="map"></div>
            <div class="ui grid" style="outline: black">
                <div id="mobile-spacer" class="one wide computer sixteen wide mobile column"></div>
                <div class="four wide computer sixteen wide column right floated computer right aligned mobile" style="outline: black; margin-right: 20px; padding-right:50px;">
                <div class="ui hidden divider"></div>
                    <table class="ui unstackable celled very compact table left aligned mobile" style="position: relative;z-index: 1000;opacity: 0.7;">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Current Location</th>
                            <th>Status</th>
                            <th>Show History</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for g in current_user.gateways %}
                            {% for n in g.child_nodes %}
                                <tr>
                                    <td id="{{ n.node_id }}"><a href="#"> {{ n.node_id }}</a></td>
                                    <td id="{{ n.node_id + "-coords" }}">awaiting update...</td>
                                    <td id="{{ n.node_id + "-status" }}">awaiting status...</td>
                                    <td id="{{ n.node_id + "-history" }}">
                                        <div id="{{ n.node_id + "-dropdown"}}" class="ui compact selection dropdown">
                                          <input type="hidden">
                                              <i class="dropdown icon"></i>
                                              <div class="default text">Time Period</div>
                                              <div class="menu">
                                                <div class="item" data-value="60">1 minute</div>
                                                <div class="item" data-value="300">5 minutes</div>
                                                <div class="item" data-value="600">10 minutes</div>
                                                <div class="item" data-value="1800">30 minutes</div>
                                                <div class="item" data-value="3600">1 hour</div>
                                                <div class="item" data-value="7200">2 hours</div>
                                                <div class="item" data-value="18000">5 hours</div>
                                                <div class="item" data-value="86400">1 day</div>
                                              </div>
                                        </div>
                                        <a id="{{ n.node_id + "-history-button"}}" href="#"><i class="history icon"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
            <script>
                function notifySuccess(message) {
                    new Noty({
                        text: message,
                        layout: 'topRight',
                        theme: 'relax',
                        type: 'success',
                        timeout: 3000
                    }).show()
                }


                function notifyError(message, container_name) {
                    new Noty({
                        text: message,
                        layout: 'topRight',
                        theme: 'relax',
                        type: 'error',
                        timeout: 3000,
                        container: container_name || false
                    }).show()
                }


                function notifyInformation(message) {
                    new Noty({
                        text: message,
                        layout: 'topRight',
                        theme: 'relax',
                        type: 'information',
                        timeout: 3000
                    }).show()
                }

                // The first parameter are the coordinates of the center of the map
                // The second parameter is the zoom level
                {#        var mymap = L.map('map').setView([38.0000,-97.0000], 5);#}
                var nodes = [];
                var node_dict = {};

                {% for g in current_user.gateways %}
                    {% for n in g.child_nodes %}
                        nodes.push("{{ n.node_id }}");
                    {% endfor %}
                {% endfor %}
                var location_marker = L.icon({
                   iconUrl: '../static/img/location-marker_5.png',
                   iconSize: [36, 36],
                   iconAnchor: [18, 36]
                });

                var firstaid_marker = L.icon({
                   iconUrl: '../static/img/first-aid-marker_3.png',
                   iconSize: [36, 36],
                   iconAnchor: [18, 36]
                });

                var lost_marker = L.icon({
                    iconUrl: '../static/img/lost-marker.png',
                    iconSize: [36, 36],
                   iconAnchor: [18, 36]
                });

{#                var base = L.layerGroup();#}

                for (var n in nodes) {
                    node_dict[nodes[n]] = {
                        "polyline": L.polyline([], {color: "#" + ((1 << 24) * Math.random() | 0).toString(16)}),
                        "lastUpdate": [],
                        "coords": [],
                        "status": 0,
                        "lastStatusUpdateTime": 0
                    };
                }
                console.log(node_dict);

                {% for g in current_user.gateways %}
                    {% for n in g.child_nodes %}
                        node_dict.{{ n.node_id }}.status = Number({{ n.status }});
                    {% endfor %}
                {% endfor %}

                console.log(node_dict);
{#                console.log("{{ url_for('api.get_history', user_id=1, node_id='n1') }}");#}


                var mymap = L.map('map', {center: [35.0545, -95.28], zoom: 4}),
                    realtime = L.realtime({
                        url: "{{ url_for('api.get_data', id=current_user.id) }}",
                        crossOrigin: true,
                        type: 'json'
                    }, {
                        interval: 5 * 1000,
                        pointToLayer: function (feature, latlng) {
                            var id = feature.properties.node_id;
                            console.log('Setting node ' + feature.properties.node_id);
                            console.log(node_dict[id].status);

                            if (Number(node_dict[id].status) === 0 || Number(feature.properties.status) === 3) {
                                console.log("SET GREEN");
                                console.log(node_dict[id].status);
                                marker = L.marker(latlng, {icon: location_marker});
                            }
                            else if (Number(node_dict[id].status) === 1){
                                console.log("SET ORANGE");
                                console.log(node_dict[id].status);
                                marker = L.marker(latlng, {icon: lost_marker});
                            }
                            else if (Number(node_dict[id].status) === 2) {
                                console.log("SET RED");
                                console.log(node_dict[id].status);
                                marker = L.marker(latlng, {icon: firstaid_marker});
                            }
                            return marker;
                        },
                        updateFeature: function(f, oldLayer) {
                            if (!oldLayer){ return; }
                            console.log(f.properties.status);

                            var c = f.geometry.coordinates;
                            oldLayer.setLatLng([c[1], c[0]]);

                            if (Number(f.properties.status) === 1) {
                                console.log("SET ORANGE");
                                oldLayer.setIcon(lost_marker);
                            }
                            else if (Number(f.properties.status) === 2) {
                                console.log("SET RED");
                                oldLayer.setIcon(firstaid_marker);
                            }
                            else if (Number(f.properties.status) === 0) {
                                console.log("SET GREEN");
                                oldLayer.setIcon(location_marker);
                            }
                            return oldLayer;
                        },
                        getFeatureId: function (f) {
                            return f.properties.node_id;
                        },
                        onEachFeature: function (f, l) {
                            l.bindPopup(function () {
                                //console.log(f);
                                return '<h3>' + f.properties.node_id + '</h3>' +
                                    '<div class="ui divider"></div>' +
                                    '<p> <b> Current Location: </b>' + node_dict[f.properties.node_id]
                                        .coords[node_dict[f.properties.node_id].coords.length - 1] + '</p>' +
                                    '<p> <b> Last Update: </b>' + node_dict[f.properties.node_id]
                                        .lastUpdate[node_dict[f.properties.node_id].lastUpdate.length - 1] + '</p>'
                            });
                        }
                    }).addTo(mymap);

                for (var n_id in nodes) {
                    node_dict[nodes[n_id]].polyline.addTo(mymap)
                }

                function updateTable(id, coords, status) {
                    console.log("update table");
                    status_selector = $("#" + id + "-status");
                    coords_selector = $("#" + id + "-coords");
                    document.getElementById(id + "-coords").innerHTML = coords[0] + ", " + coords[1];
                    if (status == "Okay") {
                        //document.getElementById(id+"-status").innerHTML = status
                        status_selector.removeClass();
                        status_selector.addClass("positive");
                    }
                    else {
                        status_selector.removeClass();
                        status_selector.addClass("negative");
                    }
                    status_selector.html(status);
                }


                realtime.on('update', function (f) {
                    // Coords are reversed
                    // normal: [lat, long] -> geojson: [long, lat]
                    var features = f.features;

                    for (var i in features) {
                        coords = features[i].geometry.coordinates;
                        coords_reversed = coords.reverse();
                        var status = 'Okay';
                        console.log("Node " + String(i) + " status is " + String(node_dict[i].status));
                        switch(features[i].properties.status) {
                            case 0:
                                // Automatically set to 0 and 0 is always received on automatic
                                // updates from LoPy. We only care about receiving other values
{#                                if (node_dict[i].status === 1) {#}
{#                                    status = 'Lost';#}
{#                                }#}
{#                                else if (node_dict[i].status === 2) {#}
{#                                    status = 'Medical attention required';#}
{#                                }#}
{#                                else {#}
{#                                    status = 'Ok';#}
{#                                }#}
{#                                break;#}
                                if (node_dict[i].status !== 0){
                                    notifyInformation("Node " + String(i) + " status update to Okay");
                                }
                                node_dict[i].status = 0;
                                status = 'Okay';
                                break;
                            case 1:
                                if (node_dict[i].status !== 1){
                                    notifyInformation("Node " + String(i) + " status update to Lost");
                                }
                                node_dict[i].status = 1;
                                status = 'Lost';
                                break;
                            case 2:
                                if (node_dict[i].status !== 2){
                                    notifyInformation("Node " + String(i) + " status update to Medical attention required");
                                }
                                node_dict[i].status = 2;
                                status = 'Medical attention required';
                                break;
                            case 3:
                                node_dict[i].status = 0;
                                break;
                        }
                        node_dict[i].polyline.addLatLng(coords_reversed);
                        node_dict[i].polyline.redraw();
                        node_dict[i].coords.push(coords_reversed);
                        node_dict[i].lastUpdate.push(features[i].properties.timestamp);
                        updateTable(i, coords_reversed, status)
                    }
                });

                {% for g in current_user.gateways %}
                    {% for n in g.child_nodes %}
                        $("#" + "{{ n.node_id }}").click(function () {
                            coords_selector = $("#" + "{{ n.node_id }}" + "-coords");
                            var items = coords_selector.text().split(",").reverse();
                            var long = Number(items[0]);
                            var lat = Number(items[1]);
                            mymap.setView([lat, long], 10);
                        });
                        $("#" + "{{ n.node_id }}" + "-history-button").click(function () {
                            var user_id = Number({{ current_user.id }});
                            var node_id = "{{ n.node_id }}";
                            var time_length = $("#" + node_id + '-dropdown').dropdown('get value');
                            var time_length_text = $("#" + node_id + '-dropdown').dropdown('get text');
                            $.ajax({
                                url: "{{ url_for('api.get_history') }}",
                                data: {
                                    'user_id': user_id,
                                    'node_id': node_id,
                                    'time_length': time_length
                                },
                                type: "GET",
                                success: function (response) {
                                    var parsed = JSON.parse(response);
                                    var history = [];
                                    for(var i = 0; i < parsed.history.length; i++) {
                                        history.push([parsed.history[i][0].lat, parsed.history[i][0].long])
                                    }
                                    mymap.removeLayer(node_dict[node_id].polyline);
                                    node_dict[node_id].polyline = L.polyline(history, {color: "#" + ((1 << 24) * Math.random() | 0).toString(16)}).addTo(mymap);
                                    notifySuccess("Now showing information from last " + time_length_text + " for Node " + node_id)
                                },
                                error: function (error) {
                                    console.log(error);
                                    notifyError("Unable to load history for Node " + node_id);
                                }
                            })
                        });
                    {% endfor %}
                {% endfor %}

                // {s}, {z}, {x} and {y} are placeholders for map tiles
                // {x} and {y} are the x/y of where you are on the map
                // {z} is the zoom level
                // {s} is the subdomain of cartodb
                var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
                    maxZoom: 18,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; ' +
                    '<a href="http://cartodb.com/attributions">CartoDB</a>'
                });


                // Add the layer onto the map
                mymap.addLayer(layer);

                mymap.invalidateSize();
            </script>
        {% endif %}
{% endblock %}